/* 전체 body 스타일 */
body {
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center; /* 내부 요소를 가운데 정렬 */
    height: 100vh;
    margin: 0;
}

/* wrap 클래스 스타일 */
.wrap {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 두 개의 컬럼을 동일한 너비로 설정 */
    gap: 20px; /* 요소 간격 */
    border: 2px solid #ccc;
    padding: 20px;
}

/* 시간 영역 스타일 */
.timeArea {
    grid-column: 1 / 2; /* 좌측 상단에 배치 */
    grid-row: 1 / 2;
    text-align: center;
    height: calc(100%-100px); 
}

.time {
    font-size: 2em;
    margin-bottom: 20px;
}

/* 버튼 영역 스타일 */
.btnArea {
    grid-column: 1 / 2; /* 좌측 하단에 배치 */
    grid-row: 2 / 3;
    text-align: center;
    width: 400px; /* 버튼 영역의 너비를 자동으로 설정 */
}

.btnWrap {
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.off{
    display: none;
}

.btn:hover {
    background-color: #2980b9;
}

/* 랩 타임 영역 스타일 */
.lapArea {
    grid-column: 2 / 3; /* 우측에 배치 */
    grid-row: 1 / 3; /* 위에서 아래로 확장 */
    text-align: center;
    align-self: flex-start;
    height: 128px;
    overflow: auto;
}

.lapList {
    list-style: none;
    padding: 0;
}

.lapList li {
    margin-bottom: 5px;
}
.lapList .is-faster{
    color: aqua;
}
.lapList .is-slower{
    color: red;
}